html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  font-weight: normal;
  background-color: #f2f2f2;
  margin: 0;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  min-width: 768px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  position: relative;
  box-sizing: border-box;
  box-shadow: 0 0 15px 0 rgba(0, 1, 1, 0.2);
}

.main_header ul {
  padding-left: 6%;
  padding-right: 6%;
  margin: 0;
  font-size: 0;
}

.main_header li {
  display: inline-block;
  vertical-align: middle;
  width: 20%;
  margin: 0;
}

.main_header li a:hover {
  color: #81b3d2;
}

.main_header li a:active {
  color: #000000;
  opacity: 0.3;
}

.image {
  width: 8%;
  margin: 0;
  position: relative;
  text-align: center;
  z-index: 1;
}

.logo img {
  margin-bottom: -14px;
  vertical-align: middle;
}

a {
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

.right_nav {
  text-align: right;
}

li.center {
  text-align: center;
}

.sedona {
  background-image: url("../img/main-bg.jpg");
  background-position: 72% 28%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #e2eff7;
  min-height: 508px;
  position: relative;
}

.sedona::after {
  content: "";
  height: 57px;
  background: url("../img/main-bg-bottom.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: bottom;
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  display: block;
}

.sedona img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.sedona img::after {
  content: "";
  background-color: #766357;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 22px;
  height: 2px;
  transform: translate(-50%, -50%);
}

.short_description {
  padding-top: 59px;
  padding-bottom: 53px;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
  width: 700px;
  margin: 0 auto;
}

.short_description .strong {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  margin: 0 15%;
  padding-bottom: 31px;
}

.short_description p {
  margin-top: 0;
  margin-bottom: 0;
}

.row {
  background-color: #ffffff;
  font-size: 0;
}

.row.blue {
  background-color: #81b3d2;
}

.row.gray {
  background-color: #eeeeee;
  min-height: 212px;
  padding-bottom: 45px;
}

.col_1 {
  float: left;
  width: 33.3%;
  position: relative;
  padding-top: 50px;
}

.col_1 p {
  color: #333333;
  font-size: 14px;
  line-height: 21px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 24px;
  padding-left: 16%;
  padding-right: 16%;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}

.blue p {
  padding-left: 15%;
  padding-right: 15%;
}

.col_1 .strong {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  text-transform: uppercase;
  vertical-align: middle;
  padding: 0;
}

.blue p {
  color: #ffffff;
}

.blue .strong {
  font-size: 21px;
  font-weight: bold;
}

.promo {
  float: left;
  width: 66.7%;
  position: relative;
  overflow: hidden;
  height: 256px;
}

.promo img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: auto;
  width: 100%;
}

.type_two {
  padding-top: 52px;
  min-height: 278px;
}

.type_two .strong {
  font-weight: bold;
  margin: 0 31%;
  vertical-align: middle;
  padding-top: 29px;
}

.life_icon {
  margin-right: auto;
  margin-left: auto;
}

.food_icon {
  margin-right: auto;
  margin-left: auto;
}

.souvenirs_icon {
  margin-right: auto;
  margin-left: auto;
}

.gray .strong {
  padding-top: 3px;
}

.gray > .col_1 {
  padding-top: 44px;
}

.search {
  display: block;
  background-color: #ffffff;
}

.search p {
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 47px;
}

.search .strong {
  font-size: 30px;
  font-weight: bold;
  line-height: 24px;
  padding-top: 52px;
  padding-bottom: 28px;
}

.search_form {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  z-index: 1;
}

.search a {
  display: block;
  position: relative;
  height: 54px;
  width: 568px;
  background-color: #766357;
  text-transform: uppercase;
  font-size: 21px;
  color: #ffffff;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding-top: 32px;
}

form {
  display: block;
  background-color: #ffffff;
  width: 458px;
  height: 288px;
  position: absolute;
  left: 0;
  right: 0;
  padding-top: 54px;
  padding-left: 55px;
  padding-right: 55px;
  padding-bottom: 54px;
  margin-right: auto;
  margin-left: auto;
  font-size: 0;
  z-index: -1;
}

.form_none {
  display: none;
}

.form_show {
  display: block;
  box-shadow: 0 0 15px 0 rgba(0, 1, 1, 0.15);
  animation: slide_down 1s;
}

@-webkit-keyframes slide_down {
  0% {transform: translateY(-25%);
    opacity: 0.0;}
  85% {opacity: 15%;}
  100% {transform: translateY(0%);}
}

@keyframes slide_down {
  0% {transform: translateY(-25%);
    opacity: 0.0;}
  85% {opacity: 15%;}
  100% {transform: translateY(0%);}
}

.form_row {
  display: block;
  position: relative;
  height: 38px;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-size: 0;
}

.form_row label {
  display: inline-block;
  width: 102px;
  height: 38px;
  position: absolute;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  vertical-align: middle;
  padding-top: 6px;
}

.form_row input.date_in,
.form_row input.date_out {
  display: inline-block;
  position: absolute;
  left: 113px;
  width: 330px;
  height: 32px;
  border: 2px solid #f2f2f2;
  outline: none;
  background-color: #f2f2f2;
  font-size: 14px;
  line-height: 26px;
  padding-left: 10px;
  text-transform: uppercase;
  font-weight: bold;
  vertical-align: middle;
}

.form_row input.date_in:hover,
.form_row input.date_out:hover {
  background-color: #ebebeb;
  border: 2px solid #ebebeb;
}

.form_row input.date_in:active,
.form_row input.date_out:active {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

div.icon_calendar {
  display: inline-block;
  position: absolute;
  left: 426px;
  vertical-align: middle;
  font-family: "symbols-sedona";
  font-size: 21px;
  line-height: 36px;
  color: #c2c2c2;
}

div.icon_calendar:hover {
  color: #000000;
}

div.icon_calendar:active {
  color: #81b3d2;
}

.bottom_row {
  display: block;
  width: 458px;
  position: relative;
  padding-bottom: 54px;
  font-size: 0;
}

.bottom_row label {
  display: inline-block;
  width: 113px;
  position: relative;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  vertical-align: middle;
  font-weight: bold;
}

.bottom_row label.children {
  width: 35px;
  padding-left: 53px;
  padding-right: 29px;
}

button.icon_minus,
button.icon_plus {
  display: inline-block;
  width: 38px;
  height: 38px;
  font-size: 14px;
  line-height: 26px;
  font-family: "symbols-sedona";
  color: #a9a9a9;
  background-color: #f2f2f2;
  border: none;
  outline: none;
  position: relative;
  font-size: 14px;
  line-height: 26px;
  font-family: "symbols-sedona";
  color: #a9a9a9;
  vertical-align: middle;
}

button.icon_minus:hover,
button.icon_plus:hover {
  color: #000000;
}

button.icon_minus:active,
button.icon_plus:active {
  color: #81b3d2;
}

.bottom_row input,
.bottom_row input {
  display: inline-block;
  width: 32px;
  height: 32px;
  border: 2px solid #f2f2f2;
  outline: none;
  background-color: #f2f2f2;
  position: relative;
  color: #000000;
  font-size: 14px;
  line-height: auto;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

.submit {
  display: block;
  position: relative;
  left: 0;
  width: 458px;
  height: 58px;
  background-color: #81b3d2;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  border: none;
}

.submit:hover {
  background-color: #669ec0;
}

.submit:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.map {
  display: block;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  min-height: 593px;
}



/*Second page*/

form.hotels {
  display: block;
  width: auto;
  background-image: url("../img/filter-bg.jpg");
  max-height: 154px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: relative;
  font-size: 0;
  line-height: 21px;
  padding-top: 29px;
  padding-left: 6%;
  padding-bottom: 32px;
}

.hotels .column {
  float: left;
  width: 24%;
  color: #ffffff;
  position: relative;
  padding-bottom: 29px;
}

.hotels .column_2 {
  width: 42.6667%;
}

.hotels .column_3 {
  width: 33.3333%;
}

.hotels .strong {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  padding-bottom: 25px;
}

.hotels ul {
  padding: 0;
}

.hotels li {
  font-size: 14px;
  font-weight: normal;
  list-style: none;
  padding-bottom: 24px;
}

.options label {
  font-weight: bold;
  text-transform: uppercase;
  font-weight: normal;
  padding-left: 15px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 40px;
  line-height: 21px;
  cursor: pointer;
}

input[type="checkbox"] + label::before {
  content: "\2610";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  min-height: 10px;
  font-size: 24px;
  font-family: "symbols-sedona";
}

input[type="checkbox"]:checked + label::before {
  content: "\2611";
}

.price_selection {
  width: auto;
  color: #ffffff;
  text-transform: uppercase;
}

.price_selection .strong {
  padding-bottom: 10px;
}

.price_controls {
  position: relative;
  height: 36px;
  min-width: 220px;
  max-width: 314px;
  margin-left: 10px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  margin-bottom: 20px;
  font-size: 0;
}

.price_controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  background-color: #ffffff;
}

.price_controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 34px;
  vertical-align: top;
  text-align: center;
  cursor: pointer;
}

.price_controls .min_price,
.price_controls .max_price {
  width: 50%;
}

.price_controls input {
  margin: 0;
  background: none;
  border: none;
  outline: none;
  color: inherit;
  font: inherit;
}

.price_controls .min_price input {
  width: 8px;
}

.price_controls .max_price input {
  width: 30px;
}

.range_controls {
  position: relative;
  margin-left: 10px;
  margin-bottom: 32px;
}

.range_controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range_controls .bar {
  width: 80%;
  height: 2px;
  background-color: #ffffff;
}

.toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  border: 8px solid white;
  background: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1 px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.toggle:hover {
  background-color: #1c4f80;
}

.min_toggle {
  left: 0;
}

.max_toggle {
  left: 80%;
}

.price_selection .button {
  display: block;
  width: 133px;
  margin: 0 auto;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.price_selection .button:hover {
  background-color: #ffffff;
  color: #000000;
}

.search_results {
  display: block;
}

.row_01 {
  background-color: #ffffff;
  width: auto;
  border-bottom: 1px solid #e5e5e5;
  line-height: 21px;
  padding-top: 29px;
  padding-bottom: 29px;
}

.row_01 .strong {
  float: left;
  max-width: 150px;
  margin-left: 6%;
  margin-right: 4%;
  line-height: 26px;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
}

.row_01 .sorting {
  float: left;
  max-width: 782px;
  margin-right: 0;
}

.sorting p {
  float: left;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  padding-right: 0;
  padding-top: 5px;
  margin: 0;
}

.sorting p.strong {
  float: left;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
}

.sorting a {
  float: left;
  padding-left: 34px;
  padding-top: 5px;
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: underline;
  text-decoration-style: dotted;
  font-weight: normal;
}

.sorting a.active {
  color: #81b3d2;
  text-decoration: none;
}

.sorting a:hover {
  color: #81b3d2;
}

.sorting a:active {
  color: #000000;
  text-decoration: none;
}

.row_01 .up_down {
  float: right;
  max-width: 120px;
  margin-right: 6%;
  letter-spacing: -3px;
}

.up_down a {
  text-decoration: none;
  font-size: 23px;
  line-height: 20px;
  color: #cccccc;
}

.up_down a.active {
  color: #81b3d2;
}

.up_down a:hover {
  color: #000000;
}

.up_down a:active {
  color: #81b3d2;
}

.up_down .icon_up,
.up-down .icon_down {
  margin-right: -12px;
}

.hotel_image {
  float: left;
  max-width: 150px;
  margin-left: 6%;
}

.hotel_info {
  float: left;
  max-width: 782px;
  padding-left: 15px;
}

.short_info {
  padding-left: 15px;
}

.short_info a.hotel_name {
  float: left;
  color: #000000;
  font-size: 21px;
  line-height: 26px;
  margin-top: -5px;
  padding: 0;
  padding-bottom: 17px;
}

a.hotel_name:hover {
  color: #81b3d2;
}

a.hotel_name:active {
  color: rgba(0, 0, 0, 0.3);
}

.short_info p {
  float: left;
  margin-top: -10px;
  margin-right: 6px;
  padding: 0;
  text-transform: uppercase;
}

p.hotel,
p.apartment,
p.motel {
  width: 110px;
  text-align: left;
}

p.pricing {
  width: 142px;
  text-align: left;
}

.short_info a {
  float: left;
  margin-top: -5px;
  margin-right: 6px;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
}

a.more {
  width: 110px;
  min-height: 27px;
  background-color: #81b3d2;
  padding-top: 5px;
  padding-right: 0;
}

a.more:hover {
  width: 110px;
  min-height: 27px;
  background-color: #669ec0;
  padding-top: 5px;
  padding-right: 0;
}

a.more:active {
  width: 110px;
  min-height: 27px;
  background-color: #5496bd;
  padding-top: 5px;
  padding-right: 0;
  color: rgba(0, 0, 0, 0.3);
}

a.book {
  width: 142px;
  min-height: 27px;
  background-color: #766357;
  padding-top: 5px;
  padding-right: 0;
}

a.book:hover {
  width: 142px;
  min-height: 27px;
  background-color: #604e43;
  padding-top: 5px;
  padding-right: 0;
}

a.book:active {
  width: 142px;
  min-height: 27px;
  background-color: #503e33;
  padding-top: 5px;
  padding-right: 0;
  color: rgba(255, 255, 255, 0.3);
}

.short_info .book {
  width: 142px;
  min-height: 27px;
}

.short_info .booking {
  clear: both;
}

.hotel_rate {
  float: right;
  max-width: 120px;
  margin-right: 6%;
}

.hotel_rate .stars {
  padding-bottom: 40px;
  text-align: right;
}

.hotel_rate span {
  font-size: 19px;
  color: #81b3d2;
  margin-right: -3px;
}

div.rating {
  width: 110px;
  min-height: 21px;
  text-align: center;
  color: #666666;
  text-transform: uppercase;
  background-color: #f2f2f2;
  padding-top: 3px;
  padding-bottom: 3px;
}


/*FOOTER*/

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}

.main_footer {
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 0;
  text-align: center;
  padding-top: 37px;
  padding-bottom: 35px;
}

.link {
  display: inline-block;
  width: 33.3333%;
  vertical-align: middle;
}

a.hash {
  font-size: 21px;
  line-height: 26px;
}

.social_links {
  display: inline-block;
  width: 33.3333%;
  vertical-align: middle;
  font-size: 0;
}

.social_links .social_button {
  display: inline-block;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  position: relative;
  font-size: 0;
  vertical-align: top;
  color: #ffffff;
  text-align: center;
  margin-right: 6px;
}

.social_links .social_button:hover {
  background-color: #669ec0;
}

.social_links .social_button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.social_button:nth-last-child(1) {
  margin-right: 0;
}

.social_button span {
  font-size: 24px;
  line-height: 43px;
}

.copyright {
  display: inline-block;
  width: 33.3333%;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.copyright a {
  display: inline-block;
  vertical-align: middle;
  font-weight: normal;
}

.copyright div {
  display: inline-block;
  vertical-align: middle;
}

.copyright div.html_logo:hover {
  background-image: url("../img/sprites.png");
  background-position: -334px -11px;
  background-repeat: no-repeat;
  background-color: transparent;
  height: 39px;
  width: 113px;
}

.copyright div.html_logo:active {
  background-image: url("../img/sprites.png");
  background-position: -472px -11px;
  background-repeat: no-repeat;
  background-color: transparent;
  height: 39px;
  width: 113px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-sedona";
  src: url("../fonts/symbols-sedona.woff") format("woff"),
       url("../fonts/symbols-sedona.woff2") format("woff2");
}

[class^="icon_"]::before,
[class*=" icon_"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-sedona";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon_fb::before { content: "\66"; } /* "f" */
.icon_tw::before { content: "\74"; } /* "t" */
.icon_yt::before { content: "\f39e"; } /* "" */
.icon_up::before { content: "\25b2"; } /* "▲" */
.icon_down::before { content: "\25bc"; } /* "▼" */
.icon_star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon_calendar::before { content: "\e800"; } /* "" */
.icon_plus::before { content: "\e801"; } /* "" */
.icon_minus::before { content: "\e802"; } /* "" */

.food_icon, .life_icon, .souvenirs_icon, .html-ac-logo-light-blue, .html_logo, .html-ac-logo{
	background: url(sprites.png) no-repeat;
}

.html-ac-logo, .html_logo, .html-ac-logo-light-blue, .food_icon, .life_icon, .souvenirs_icon {
	background: url("../img/sprites.png") no-repeat;
}

.html-ac-logo{
	background-position: -472px -11px;
	width: 113px;
	height: 39px;
}

.html_logo {
	background-position: -332px -65px;
	width: 113px;
	height: 39px;
}

.html-ac-logo-light-blue{
	background-position: -334px -11px;
	width: 113px;
	height: 39px;
}

.food_icon {
	background-position: -223px -12px;
	width: 80px;
	height: 80px;
}

.life_icon {
	background-position: -112px -12px;
	width: 80px;
	height: 80px;
}

.souvenirs_icon {
	background-position: -7px -11px;
	width: 80px;
	height: 80px;
}
