.html-ac-logo, .html-ac-logo-bl, .html-ac-logo-light-blue, .food, .hotels, .souvenirs{
	background: url(sprites.png) no-repeat;
}

.html-ac-logo{
	background-position: -472px -11px ;
	width: 113px;
	height: 39px;
}

.html-ac-logo-bl{
	background-position: -332px -65px ;
	width: 113px;
	height: 39px;
}

.html-ac-logo-light-blue{
	background-position: -334px -11px ;
	width: 113px;
	height: 39px;
}

.food{
	background-position: -223px -12px ;
	width: 80px;
	height: 80px;
}

.hotels{
	background-position: -112px -12px ;
	width: 80px;
	height: 80px;
}

.souvenirs{
	background-position: -7px -11px ;
	width: 80px;
	height: 80px;
}

